@media screen and (min-width: 769px) { /* pcのみ */
    .l-menu {
        padding-top: 80px;
        padding-bottom: 100px;
    }
  }

@media screen and (max-width: 768px) {

    /* sp */
    .l-indexBody.l-menu {
        padding-top: 32px;
        padding-bottom: 0px;
    }
    .l-worksBody.l-menu {
        padding-top: 0px;
        padding-bottom: 0px;
        background: red;
    }
}