.l-vision {
  background: #f5f3ed;
  padding: 3rem 0;
}
.l-worksBody .l-vision {
  background: #fff;
}
@media screen and (max-width: 768px) {

  /* sp */
  .l-vision {
    background: #fff;
    padding: 1.3rem 0.5rem;
  }
}